@import "./_normalize.scss";
@import "./_mixins.scss";
@import "./_var.scss";
@import "./_button.scss";

html,body{
	background-color:$gray;
}
h1{
	text-align:center;
	font-size:48px;
	font-weight:bold;
	color:#FFF;
	text-shadow:1px 1px 4px #000;
}
.home-container{
	width:500px;
	margin:0 auto;
	text-align:center;
	color:#666;
	
	p{
		text-align: left;
		text-shadow:1px 1px 1px #eee;
	}
}
.country-container{
	text-align:center;
	.table-container{
		height:600px;
		width:1200px;
		margin:0 auto;
		position:relative;
		clear: both;
		overflow: auto;
		box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.5), -1px -1px 2px 1px rgba(255, 255, 255, 0.3);
	}
	table{
	}
	thead{
		tr{
			display: block;
			position: relative;
		}
	}
	tbody{
		display: block;
		height: 573px;
		overflow: auto;
	}
	th{
		width:16.6666666%;
		background-color:$blue;
		color:#FFF;
		line-height: 25px;
		height: 25px;
		width:200px;
	}
	td{
		text-align: center;
		background-color:#FFF;
		line-height: 1.5em;
		width:200px;

	}
	tr:nth-child(2n){
		td{
			background-color:#efefef;
		}		
	}
	tr:hover td{
		cursor:pointer;
		background-color:#666;
		color:#FFF;
	}
	a.button{
		margin:1em 0;
	}
}
.action{
	text-align:center;
	a{
		margin:10px;
	}
}
.capital-container{
	height:600px;
	width:600px;
	margin:0 auto;
	background-color:#FFF;
	box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.5), -1px -1px 2px 1px rgba(255, 255, 255, 0.3);
	@include box-sizing(border-box);
	padding:20px;
	position:relative;
	h2{
		text-align: center;
	}
	ul{
		list-style: none;
		margin:0 0 20px 40px;
		padding:0;
		li{
			margin:10px 0;
			.filed,.value{
				display: inline-block;
			}
			.filed{
				width:200px;
				text-align:right;
				vertical-align: top;
			}
			.value{
				margin-left:10px;
				width:300px;
			}
		}
	}
	.image{
		margin:20px 40px 40px;
		img{
			max-width:200px;
			margin-right:20px;
			vertical-align: middle;
		}
	}
	.action{
		position:absolute;
		bottom:30px;
		left:50%;
		margin-left: -150px;
	}
}
.overlay{
	// display:none;
	opacity: 0;
	transition:.3s linear opacity;
}
.overlay.loading{
  display: block;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(0,0,0,0.8);
  opacity: 1;
  transition:0 linear opacity;
  div{
  	margin-top: 300px;
  	text-align: center;
  	font-size:72px;
  	font-weight: bold;
  	color:#CCC;
  	text-shadow: 3px 3px 3px #000;
  }
}
.cca-view.ng-enter{
    transition:.6s linear opacity;
}
.cca-view.ng-enter { opacity:0;}
.cca-view.ng-enter.ng-enter-active { opacity:1; }