@import "./_normalize.scss";
@import "./_mixins.scss";
@import "./_var.scss";
@import "./_button.scss";

html,body{
	background-color:$gray;
}
h1{
	text-align:center;
	color:#FFF;
	text-shadow:1px 1px 3px #000,-1px 0px 1px #333,-1px -1px 1px #333,1px -1px 1px #333;
}
.home-container{
	width:500px;
	margin:0 auto;
	text-align:center;
	color:#666;
	
	p{
		text-align: left;
		text-shadow:1px 1px 1px #eee;
	}
}
.country-container{
	text-align:center;
	.table-container{
		height:600px;
		width:1200px;
		margin:0 auto;
		position:relative;
		clear: both;
		overflow: auto;
		box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.5), -1px -1px 2px 1px rgba(255, 255, 255, 0.3);
	}
	table{
	}
	thead{
		tr{
			display: block;
			position: relative;
		}
	}
	tbody{
		display: block;
		height: 573px;
		overflow: auto;
	}
	th{
		width:16.6666666%;
		background-color:$blue;
		color:#FFF;
		line-height: 25px;
		height: 25px;
		width:200px;
	}
	td{
		text-align: center;
		background-color:#FFF;
		line-height: 1.5em;
		width:200px;

	}
	tr:nth-child(2n){
		td{
			background-color:#efefef;
		}		
	}
	tr:hover td{
		cursor:pointer;
		background-color:#666;
		color:#FFF;
	}
	a.button{
		margin:1em 0;
	}
}